@use 'variables';
@use 'mixins';

.shop{
    @include mixins.default-grid;

    &__heading{
        margin: 1.5rem 0rem;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.25rem;
        position: relative;
    }

    &__gallery{
        @include mixins.default-grid;
        grid-column: 2/3;
		padding: 2rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 10rem;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 0.4fr));
        justify-self: center;
        width: 100%;
    }

    &__gallery-container{
        @include mixins.default-grid;
        grid-template-columns: 0.25fr 1fr 0.25fr;
        margin-bottom: 8.5rem;
    }   

    
}

.product{
    @include mixins.image-slot;
    padding-bottom: 100%;
    position: relative;

    &__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
	}

    &__details{
        @include mixins.default-grid;
        width: 100%;
        position: absolute;
        top: 107%;
    }

    &__title{
        text-transform: uppercase;
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
    }

    &__desc{
        color: (0,0,0,.75);
        text-align: center;
        font-size: 0.9rem;
        margin-top: 0.45rem;
    }

    &__price{
        font-weight: bold;
        text-align: center;
        margin: 0.75rem 0;
    }

    &__button{
        @include mixins.product-button;
    }

    &__controls{
        justify-self: center;
    }

    &__num{
        margin: 0 1rem;
    }

    &__remove, &__add{
        background: rgba(0,0,0,0.75);
        border: none;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        width: 2rem;
        border-radius: 999rem;
        justify-self: center;
        padding: 0.5rem;
      
        &:hover{
            background: black;
        }
    }

}